/* 
    In here, you must match the color scheme from the index.html file by using custom properties/values
*/

:root
{
    --white: white;
    --teal-color: teal;
    --limegreen: limegreen;
    --primary-text-color: white;
    --border-radius: 10px;

    /* 
        - Set a variable named "white" to the white color
        - Set a variable named "teal color" to the teal color
        - Set a variable named "limegreen" to the limegreen color
        - Set a variable named "primary-text-color" to white.
        - Set a variable named "border-radius" to 10px
    */

}

/* Only change color */
nav h1.logo
{
    color: var(--limegreen);
}

nav ul li a
{
    color: var(--teal-color);
}

/* Only change color */
section.hero .container.hero-desc-container header
{
    color: var(--limegreen);
}

/* Only change color */
section.hero .container.hero-desc-container p
{
    color: var(--primary-text-color);
}

/* Change color and background-color and border radius */
section.hero .container.hero-desc-container a.btn
{
    padding: 10px 15px;
    color: var(--primary-text-color);
    background-color: var(--teal-color);
    border-radius: var(--border-radius);
}